@page "/Cadastro"
@inherits CadastroBase;

<div class="box-img-perfil">
	<img class="img-perfil" src="imagens/perfil.png" />
</div>

<div class="nome-perfil pb-2">GusApp</div>

@if (!CadastroFinalizado)
{
	<div class="form-floating mb-3">
		<input type="text" class="form-control @validacaoNome" id="nome" placeholder="" @bind-value="Usuario.nome">
		<div class="cadastro-infos">
			<div class="cadastro-infos-itens"><i class="bi bi-check"></i> Mínimo de 4 caracteres</div>
			<div class="cadastro-infos-itens"><i class="bi bi-check"></i> Máximo de 100 caracteres</div>
			<div class="cadastro-infos-itens"><i class="bi bi-check"></i> Permitido apenas letras e números</div>
		</div>
		<label class="floatingInput" for="floatingInput">Título da sua página</label>
	</div>
	<div class="form-floating mb-3">
		<input type="text" class="form-control @validacaoUrl" id="url" placeholder="" @bind-value="Usuario.url">
		<div class="cadastro-infos">
			<div class="cadastro-infos-itens"><i class="bi bi-check"></i> Mínimo de 6 caracteres</div>
			<div class="cadastro-infos-itens"><i class="bi bi-check"></i> Máximo de 50 caracteres</div>
			<div class="cadastro-infos-itens"><i class="bi bi-check"></i> Permitido apenas letras e números</div>
		</div>
		<label class="floatingInput" for="floatingInput">URL</label>
	</div>
	<div class="form-floating mb-3">
		<input type="email" class="form-control @validacaoEmail" id="email" placeholder="" @bind-value="Usuario.email">
		<label class="floatingInput" for="floatingInput">Email</label>
	</div>
	<div class="form-floating">
		<input type="password" class="form-control @validacaoSenha" id="senha" placeholder="" @bind-value="Usuario.senha">
		<label class="floatingInput" for="floatingPassword">Senha</label>
		<div class="cadastro-infos">
			<div class="cadastro-infos-itens"><i class="bi bi-check"></i> Mínimo de 8 caracteres</div>
			<div class="cadastro-infos-itens"><i class="bi bi-check"></i> Máximo de 20 caracteres</div>
			<div class="cadastro-infos-itens"><i class="bi bi-check"></i> Permitido apenas letras, números e alguns caracteres especiais</div>
			<div class="cadastro-infos-itens"><i class="bi bi-check"></i> Caracteres especiais permitidos (!?#$%&*)</div>
		</div>
	</div>
}

@if (Loading)
{
	<div class="d-flex justify-content-center">
		<div class="spinner-border" role="status">
			@* <span class="visually-hidden">Loading...</span> *@
		</div>
	</div>
}

@if (CadastroFinalizado)
{
	string url_final = $"http://gus.app.br/{Usuario.url}";

	<div class="alert alert-success" role="alert">
		<b>Cadastro realizado com sucesso!</b><br />
		O seu GusApp já disponível clicando <a href="@url_final"><b>aqui!</b></a>
	</div>

	<div class="alert alert-warning" role="alert">
		<b>Não esqueça de ativar o seu cadastro</b> através do link que enviamos para o seu e-mail!<br />
		Depois de ativar, acesse o painel, clicando <a href="/Login"><b>aqui</b></a> e personalize o seu GusApp.<br />
	</div>
}

@if(Erro)
{
	<div class="alert alert-danger mt-3" role="alert">
		@((MarkupString)@MensagemErro.Replace("\n", "<br>"))
	</div>
}

@if (!CadastroFinalizado)
{
	<button type="button" class="cadastro-finalizar mt-3" @onclick="Criar">Criar seu GusApp!</button>
}