@page "/Cadastro"
@inherits CadastroBase;

<div class="box-img-perfil">
	<img class="img-perfil" src="imagens/perfil.png" />
</div>

<div class="nome-perfil pb-2">GusLinks</div>

@if (!CadastroFinalizado)
{
	<div class="form-floating mb-3">
		<input type="text" class="form-control @validacaoNome" id="nome" placeholder="" @bind-value="Nome">
		<div class="cadastro-infos">
			<div class="cadastro-infos-itens"><i class="bi bi-check"></i> Mínimo de 4 caracteres</div>
			<div class="cadastro-infos-itens"><i class="bi bi-check"></i> Máximo de 100 caracteres</div>
			<div class="cadastro-infos-itens"><i class="bi bi-check"></i> Permitido apenas letras e números</div>
		</div>
		<label class="floatingInput" for="floatingInput">Nome</label>
	</div>
	<div class="form-floating mb-3">
		<input type="text" class="form-control @validacaoUrl" id="url" placeholder="" @bind-value="URL">
		<div class="cadastro-infos">
			<div class="cadastro-infos-itens"><i class="bi bi-check"></i> Mínimo de 6 caracteres</div>
			<div class="cadastro-infos-itens"><i class="bi bi-check"></i> Máximo de 50 caracteres</div>
			<div class="cadastro-infos-itens"><i class="bi bi-check"></i> Permitido apenas letras e números</div>
		</div>
		<label class="floatingInput" for="floatingInput">URL</label>
	</div>
	<div class="form-floating mb-3">
		<input type="email" class="form-control @validacaoEmail" id="email" placeholder="" @bind-value="Email">
		<label class="floatingInput" for="floatingInput">Email</label>
	</div>
	<div class="form-floating">
		<input type="password" class="form-control @validacaoSenha" id="senha" placeholder="" @bind-value="Senha">
		<label class="floatingInput" for="floatingPassword">Senha</label>
		<div class="cadastro-infos">
			<div class="cadastro-infos-itens"><i class="bi bi-check"></i> Mínimo de 8 caracteres</div>
			<div class="cadastro-infos-itens"><i class="bi bi-check"></i> Máximo de 20 caracteres</div>
			<div class="cadastro-infos-itens"><i class="bi bi-check"></i> Permitido apenas letras, números e alguns caracteres especiais</div>
			<div class="cadastro-infos-itens"><i class="bi bi-check"></i> Caracteres especiais permitidos (!?#$%&*)</div>
		</div>
	</div>
}

@if (CadastroFinalizado)
{
	<div class="alert alert-success" role="alert">
		Deu tudo certo!
	</div>
}

@if(Erro)
{
	<div class="alert alert-danger mt-3" role="alert">
		@((MarkupString)@MensagemErro.Replace("\n", "<br>"))
	</div>
}

@if (!CadastroFinalizado)
{
	<button type="button" class="cadastro-finalizar mt-3" @onclick="Criar">Criar seu GusLinks!</button>
}