@page "/{url}"
@inherits HomeComponenteBase;
@layout Layout.LayoutSecundario;

    @if (carregarConteudo)
    {
        <div class="box-img-perfil">
            <img class="img-perfil" src="imagens/perfil/@imgPerfil" />
        </div>

        <div class="nome-perfil">@usuario.nome</div>

        <div class="texto-perfil">usuario.texto</div>

        <div class="ico-links">
            @foreach (var rede in contatos.OrderBy(c => c.ordem))
            {
                <a class="links" href="@rede.link"><i class="bi @icones.Where(c => c.id.Equals(rede.idIcone))"></i></a>
            }
        </div>

        @foreach (var link in links.OrderBy(c => c.ordem))
        {
            <a class="links" href="@link.link"><div class="bt-links">@link.texto</div></a>
        }

        <style>

            html, body {
                background-color: @config.planofundo_cor;
                background-image: url("/imagens/fundo/@config.planofundo_img");
            }

            .box-img-perfil {border-color: @config.imgperfil_borda_cor;}

            .nome-perfil {
                font-family: @config.nome_fonte;
                color: @config.nome_cor;
            }

            .texto-perfil {
                font-family: @config.texto_fonte;
                color: @config.texto_cor;
            }

            .links {
                color: @config.link_texto_cor;
            }

            .bt-links {
                background-color: @config.link_fundo_cor;
                border-color: @config.link_borda_cor;
                font-family: @config.link_texto_fonte;
            }

            .bi {color: @config.icone_cor;}

            .texto-rodape {color: @config.nome_cor;}

            .link-rodape {color: @config.nome_cor;}

        </style>
    }
